/*.root {
  text-align: center;
  background-color: #999;
  position: static;
  height: 100%;
  width: 100%;
}*/

#root{
  height: 100%;
  width: 100%;
}

.app {
  text-align: center;
  height: 100%;
  width: 100%;
}

.nav {
  float: right;
  width: 100%;

  ul {
    float: right;
  }
}

#nav-dropdown {
  float: right;
}

.header #nav-dropdown .caret span {
  display: none;
}

.header .modal-content .modal-header {
  z-index: 100;
  color: black;
}

h2 {
  text-align: center;
}

.home {
  margin: auto;
  width: 90%;
  text-align: left;
  height: 100%;
}

.post {
  margin: auto;
  width: 90%;
  text-align: left;
  height: 100%;
  padding-bottom: 50px;
}

.post_form {
  margin: auto;
  height: 100%;
}

.post_form .post_textarea {
  margin: auto;
  height: 300px;
}

.post-header {
  margin: auto;
  text-align: center;
};

.post-body {
  text-align: left;
};

.post .media-heading .metadata {
  font-size: 16px;
}

.post .media-heading {
  padding-bottom: 20px;
}

.post .media-heading .controls .links {
  padding-top: 10px;
}

.post .media-heading .controls .links .link {
  padding-right: 5px;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header a {
  color: #97C9D5;
}

.header {
  /*position: relative;*/
  z-index: 100;
  position: fixed;
  background-color: #888;
  height: 150px;
  width: 100%;
  padding: 20px;
  color: white;
  top: 0;
  left: 0;
}

.body {
  position: relative;
  z-index: 1;
  top: 150px;
  color: black;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-bottom: 70px;
}

.modal {
  z-index: 1000;
  padding-top: 150px;
}

.footer a {
  color: #97C9D5;
}

.footer {
  z-index: 100;
  background-color: #999;
  height: 150px;
  padding: 20px;
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 100%;
}

.title {
  font-size: 1.5em;
}

.intro {
  font-size: large;
}

form {
  margin: auto;
  width: 70%;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

